<div class="footer">
    <div class="container">
<% @pet.each do |pet| %>
<div class="booyah-box col-12 col-sm-6">
  <h1><%= pet.name %></h1><br />
  <i><%= pet.comment %></i><br />
</div>
<% end %>
</div>
</div>

<h2 align="center"> Bringing home a new member of the family is always exiting.
    <br> Keep in mind that an animal is not a toy and requires certain needs. 
</h2>

<div class="row">
    <div class="col-12 col-sm-4">
    <%= image_tag 'man_with_dog.jpg', class: 'img-fluid' %>
    </div>
</div>


<p>Here are the top 10 tips you need to know to be a responsible dog owner.</p>
  <ol>
    <li> Clean and suditable Housing  </li>
    <li> Clean Water provided daily</li>
    <li> Food provided daily </li>
    <li> Excercise provided on a daily or weekly basis </li>
    <li> Yearly Vaccines </li>
    <li> Gromming provided as required for your breed  </li>
    <li> Identification provided as soon as you bring your new furry friend home </li>
    <li> House Training provided as soon as possible </li>
    <li> Spay/Neuter as soon as possible </li>
    <li> Attitude </li>
  </ol>

