<div class="footer">
    <div class="container">
<% @pet.each do |pet| %>
<div class="booyah-box col-12 col-sm-6">
  <h1><%= pet.name %></h1><br />
  <i><%= pet.comment %></i><br />
</div>
<% end %>
</div>
</div>

<h2 align="center"> Bringing home a new or dog is always exiting.
    <br> Just keep in mind you will need to learn how to build a strong foundation with your dog.
</h2>


<div class="container">
  <div class="row">
    <%= image_tag 'man_with_dog.jpg', class:'homepage-img' %>
</div>
</div>




<p>Here are the top 10 tips you need to know to become a responsible dog owner.</p>
  <ol>
    <li> Provide clean and suditable housing  </li>
    <li> Provide fresh water daily</li>
    <li> Provided quality dog food </li>
    <li> Maintain physical fitness with exercise on a daily basis </li>
    <li> Establish house rules as soon as your puppy or dog arrives home</li>
    <li> Use training and disciple techniques to create good habits </li>
    <li> Learn the basic gromming techniques for your breed</li>
    <li> Go to the vet yearly for vaccines </li>
    <li> Spay/Neuter to prevent unwanted puppies or dogs </li>
    <li> Remember to have patience and a good attitude </li>
  </ol>

