@import "bootstrap";

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    border: 1px solid #ccc;
    border-color: #979FA7;
    margin-top: 50px;
    padding: 0;  

  }
h2 {
  color: #9B9695;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  margin: 0;
  padding: 0;  
}


body {
  background: image_url('fresh_snow.png');
}

ol {
   color: #9B9695;
}

p {
 color: #9B9695;
  
}

.intro {
font-family: 'Noto Serif', serif;
font-style: Bold;
color: #9B9695;
font-size: 30px;
margin: auto;
text-align: right;
}


.homepage-img {
align-items: center;
justify-content: center;
border-radius: 100%;
height: 200px;
padding: 0;
margin: 0;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 15px;

}



